<section *ngIf="job" id="current-job" class="current-job cf">

	<p class="headnote">Currently</p>

	<img class="icon" [src]="job.company_logo" [alt]="job.company_name" width="150" loading="lazy">

	<h3 class="title">{{ job.position }}</h3>
	<h4 class="employer">{{ job.company_name }}</h4>

	<div class="specs">
		<p class="dates">{{ job.start_date }} &ndash; {{ job.is_current ? 'present' : job.end_date }}</p>
		<p class="location">{{ job.location }}</p>
		<p class="industry">{{ job.industry?.join(', ') }}</p>
	</div>

	<div class="summary">
		<ul>
			<li *ngFor="let item of job.description">{{ item }}</li>
		</ul>
	</div>

</section>
