<div class="top-ribbon">
	<p>
		This page was built in Angular.
		<a href="https://github.com/ericbutler555/resume-ng/">Here's the repo</a>.
		I also made a <a href="https://ericbutler555.com/">React version</a>.
	</p>
</div>

<header class="about-me" id="contact-me">
	<div class="about-content">

		<p [@wordBubbleAnimation]="showWordBubble" class="speech">Hello, I&rsquo;m</p>
		<h1>Eric Butler</h1>
		<h2>{{ tagline }}</h2>

		<p class="intro">
			Check out my
			<a [ngxScrollTo]="'#work'">work samples</a>,
			<a [ngxScrollTo]="'#current-job'">job history</a>,
			<br>
			<a [ngxScrollTo]="'#education'">education</a> and
			<a [ngxScrollTo]="'#skills'">technical skills</a> below.
		</p>

		<ul [@iconAnimation]="animationState" class="contact-info cf">
			<li>
				<a href="mailto:ericbutler555@gmail.com?subject=I%20saw%20your%20website" target="_blank" rel="noopener">
					<img src="assets/icons/envelope.svg" alt="Email" width="30">
					ericbutler555<br>@gmail.com
				</a>
			</li>
			<li>
				<a href="https://goo.gl/maps/5BjhKaPbmcu" target="_blank" rel="noopener">
					<img src="assets/icons/compass.svg" alt="Location" width="30">
					Louisville Ky<br> USA
				</a>
			</li>
			<li>
				<a href="https://github.com/ericbutler555" target="_blank" rel="noopener">
					<img src="assets/icons/github.svg" alt="Github" width="26">
					GitHub<br> Profile
				</a>
			</li>
			<li>
				<a href="https://codepen.io/ericbutler555/pens/public/" target="_blank" rel="noopener">
					<img src="assets/icons/codepen.svg" alt="CodePen" width="26">
					CodePen<br> Pens
				</a>
			</li>
		</ul>

		<p class="scroll-down">
			<a [ngxScrollTo]="'#work'" title="See some work">
				<img src="assets/icons/chevron-down.svg" alt="Scroll down" width="30">
			</a>
		</p>

	</div>
</header>
