<section id="work" class="work cf">

	<p class="headnote">Work Samples</p>

	<div *ngIf="sites" class="sites cf">

		<div *ngFor="let site of sites | async"
			class="site"
			[ngClass]="!site.is_active ? 'inactive' : ''">

			<a *ngIf="site.link" [href]="site.link" target="_blank" rel="noreferrer">
				<img [src]="site.screenshot" [alt]="'Screenshot of the ' + site.title + ' website'" loading="lazy">
			</a>
			<img *ngIf="!site.link" [src]="site.screenshot" [alt]="'Screenshot of the ' + site.title + ' website'" loading="lazy">

			<h4>{{ site.title }}</h4>

			<p>{{ site.year }} - {{ site.tech_stack?.join(', ') }}</p>

		</div>

	</div>

</section>
